body {
	background-color: #f2f2f2;
}

/*Buttons for each giphy*/
button {
	margin: 5px;
	background-color: #62959a;
	color: white;
	font-family: "Tahoma", "Times New Roman", Times, serif;
	border: 3px groove #62959a;
	border-radius: 3px;
}

/*Tells the user which button they're on*/
button:hover{
	background-color: #466a6d;
}


#movie-form {
	margin-top: 20px;
}

input#giphy-input {
	width: 230px;
}

/*This is the submit button for the form*/
#find-giphy {
	margin-top: 10px;
	background-color: #62959a;
	color: white;
	font-family: "Tahoma", "Times New Roman", Times, serif;
}

/*Tells the user which they're over the submit button*/
#find-giphy:hover {
	background-color: #466a6d;
}

/*Rating captions*/
p {	
	font-family: "Tahoma", "Times New Roman", Times, serif;
	font-size: 15px;
	color:  #f2f2f2;
	text-align: center;
	margin-top: 15px;
	margin-left: 5px;
	width: 100%;
	background-color: #606060;
	border: 3px groove #62959a;
	border-radius: 3px;
}

.moviegif {
	margin-left: 5px;
}


